.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.display-space{
  display: flex;
    justify-content: space-between;
    align-items: baseline;


}

input.check {
  margin-left: -20%;
}
.red-text{
  color: red;
  cursor: pointer;
}